/* Base Styles */
.section-specialities {
	background-color: rgb(243, 241, 241);
	padding: 80px 0;
	margin: 7rem 0;
}

.specialities-slider .slick-slide {
	display: block;
	padding: 0 12px;
	margin-left: 0;
	margin-right: 20px;
	margin-top: 10px;
}

.specialities-slider .slick-dots {
	margin-top: 44px;
	position: unset;
}

.speciality-img {
	position: relative;
	height: 150px;
	width: 150px;
	box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
	border-radius: 100%;
	background: #fff;
	transition: transform 0.4s ease-in, background 0.4s ease-in;
	overflow: hidden;
	cursor: pointer;
}

.speciality-img img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 70%;
	transition: transform 0.4s ease-in;
}

.speciality-img span {
	position: absolute;
	bottom: 10px;
	right: 10px;
	box-shadow: 1px 6px 14px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	padding: 5px;
	background-color: #fff;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.speciality-img span i {
	font-size: 15px;
	color: #0de0fe;
}

.speciality-item p {
	font-size: 16px;
	font-weight: 500;
	margin: 30px 0 0;
	transition: transform 0.4s ease-in, color 0.4s ease-in;
	text-align: center;
}

/* Hover Effects */
.speciality-item:hover .speciality-img {
	transform: scale(1.1);
	background: rgb(221, 221, 223);
}

.speciality-item:hover .speciality-img img {
	transform: translate(-50%, -50%) scale(1.1);
}

.speciality-item:hover p {
	transform: scale(1.1);
	color: #1977cc;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
	.section-specialities {
		padding: 40px 0;
		margin: 4rem 0;
	}

	.speciality-img {
		height: 100px;
		width: 100px;
	}

	.speciality-img img {
		width: 60%;
	}

	.speciality-img span i {
		font-size: 12px;
	}

	.speciality-item p {
		font-size: 14px;
		margin: 20px 0 0;
	}

	.specialities-slider .slick-slide {
		margin-right: 12px;
		padding: 0 8px;
	}
}
