.section-specialities {
	background-color: rgb(243, 241, 241);
	padding: 80px 0;
	margin: 7rem 0;
}

.specialities-slider .slick-slide {
	padding: 0 12px;
	margin-top: 10px;
}

.specialities-slider .slick-dots {
	margin-top: 44px;
	position: unset;
}

.speciality-item {
	text-align: center;
	transition: transform 0.3s ease;
}

.speciality-item:hover .speciality-img {
	transform: scale(1.1);
	background-color: rgb(221, 221, 223);
}

.speciality-item:hover .speciality-img img {
	transform: scale(1.1);
}

.speciality-item:hover p {
	color: #1977cc;
	transform: scale(1.1);
}

.speciality-img {
	position: relative;
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden;
	background: #fff;
	box-shadow: 2px 2px 13px rgba(0, 0, 0, 0.1);
	transition: background-color 0.3s ease, transform 0.3s ease;
	cursor: pointer;
}

.speciality-img img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 70%;
	transform: translate(-50%, -50%);
	transition: transform 0.3s ease;
}

.speciality-img span {
	position: absolute;
	bottom: 10px;
	right: 10px;
	box-shadow: 1px 6px 14px rgba(0, 0, 0, 0.2);
	border-radius: 50%;
	padding: 5px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}

.speciality-img span i {
	font-size: 15px;
	color: #0de0fe;
}

.speciality-item p {
	font-size: 16px;
	font-weight: 500;
	margin-top: 30px;
	transition: transform 0.3s ease, color 0.3s ease;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
	.section-specialities {
		padding: 40px 0;
		margin: 4rem 0;
	}

	.speciality-img {
		width: 100px;
		height: 100px;
	}

	.speciality-img img {
		width: 60%;
	}

	.speciality-img span i {
		font-size: 12px;
	}

	.speciality-item p {
		font-size: 14px;
		margin-top: 20px;
	}
}
